
.has-error input,.has-error select{
    border-color:red !important;
}
#termsandagreement {
    color:red !important;
}
.date-control{
    background-color: white !important;
    height: 36px;
    text-indent:10px;
    color:gray;

}

.noborder{
    border:0px !important;
}